# Node dependencies
/node_modules

# Next.js build output
/.next
/out

# Production build
/build

# Testing coverage
/coverage

# Miscellaneous
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables
.env
.env*.local

# Vercel deployment
.vercel

# TypeScript build info
*.tsbuildinfo

# Temporary working files
/.stash

# Miscellaneous markdowns
README-*.md
